<!-- upload.html -->
{% extends 'app/base.html' %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4">Upload de Novo Livro</h2>
    <form action="{% url 'upload_livro' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="titulo" placeholder="Título do Livro"><br>
        <input type="number" name="autor_id" placeholder="ID do Autor"><br>
        <input type="date" name="data_publicacao" placeholder="Data de Publicação"><br>
        <input type="text" name="isbn" placeholder="ISBN"><br>
        <input type="number" name="numero_paginas" placeholder="Número de Páginas"><br>
        <input type="text" name="idioma" placeholder="Idioma"><br>
        <input type="file" name="imagem_capa"><br>
        <input type="file" name="arquivo_pdf"><br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}